
.heading_label {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-font-family: "Courier New";
}
#subheading_label{
    -fx-font: bold italic 20pt "Arial";
}
#blueBar{
    -fx-background-color: #6495ED;
}
#toolPane{
    -fx-background-color: #DEB887;
}

#toolbarButton {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:  linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%), #9d4024,#d86e3a,radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
#editTableButton{
    -fx-background-color:  linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%), #9d4024,#d86e3a,radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
#textField{

}
.textLabel{
    -fx-font-family: "Courier New";
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
}
#radioButton{
    -fx-font: bold italic 10pt "Arial";
    -fx-background-color: linear-gradient(#999999 0%, #000000 50%, #999999 100%);
}
#radioButton:selected{

}


